<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.MyCP" 
                       description="Contains all the content items which is educity for all the sites"
                       dependencies="Foundation.*,Feature.*,Foundation.Serialization.Common,Project.Base"
                       extends="Foundation"
                       patch:after="configuration[@name='Project.Base']">
          <predicate>
            <include name="MyCP" database="master" path="/sitecore/content/Learning JSS/MyCP">
              <exclude path="Home" />
              <exclude path="Media" />
              <exclude path="Data" />
            </include>

            <include name="Branches.LearningJSS.MyCP" database="master" path="/sitecore/templates/Branches/Project/Learning JSS/MyCP" />
            <include name="Template.Feature.MyCP" database="master" path="/sitecore/templates/Feature/Learning JSS/MyCP" />

            <include name="Template.Project.Common" database="master" path="/sitecore/templates/Project/Learning JSS/Common" />

            <include name="Workflows.LearningJSS.MyCP" database="master" path="/sitecore/system/Workflows/MyCP Publishing Workflow" />

            <include name="Media.Feature.MyCP" database="master" path="/sitecore/media library/Feature/Learning JSS/MyCP" />

            <include name="Media.Foundation.MyCP" database="master" path="/sitecore/media library/Foundation/Learning JSS/MyCP" />

            <include name="Media.Project.MyCP" database="master" path="/sitecore/media library/Project/Learning JSS/MyCP" />
            
            <include name="Media.Project.Shared" database="master" path="/sitecore/media library/Project/Learning JSS/shared" />

            <include name="Renderings.Project.MyCP" database="master" path="/sitecore/layout/Renderings/Project/Learning JSS/MyCP" />

            <include name="Placeholders.Project.MyCP" database="master" path="/sitecore/layout/Placeholder Settings/Project/Learning JSS/MyCP" />
            
            <include name="Layout.Project.MyCP" database="master" path="/sitecore/layout/Layouts/Project/Learning JSS/MyCP" />
            
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
