<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.MyCP.SyncOnce" 
                       description="Sync Home and Data node only for educity site"
                       dependencies="Foundation.*,Feature.*,Foundation.Serialization.Common,Project.MyCP, Project.Base"
                       extends="Foundation.Serialization.SyncOnce.Base"
                       patch:after="configuration[@name='Project.MyCP']">
          <predicate>
            
            <include name="MyCP" database="master" path="/sitecore/content/Learning JSS/MyCP">
              <exclude path="Dictionary" />
              <exclude path="Presentation" />
              <exclude path="Settings" />
            </include>
            
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
