<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Common" 
                       description="Contains all the content items which is common for all the sites"
                       dependencies="Foundation.*,Feature.*,Foundation.Serialization.Common"
                       extends="Foundation"
                       patch:after="configuration[@name='Project.Base']">
          <predicate>
            <include name="Template.Learning.Default" database="master" path="/sitecore/templates/Project/Learning/Default" />
            
            <include name="Content.Learning.Common" database="master" path="/sitecore/content/Learning/Common">
              <exclude path="Home" />
              <exclude path="Media" />
              <exclude path="Data" />
              <exclude path="Settings/Site Grouping" />
            </include>

            <include name="Template.Learning.Common" database="master" path="/sitecore/templates/Project/Learning/Common" />
            
            <include name="Branches.Learning.Common" database="master" path="/sitecore/templates/Branches/Project/Learning/Common" />

            <include name="Workflows.Learning.Common" database="master" path="/sitecore/system/Workflows/Common Publishing Workflow" />

            <include name="Themes.Learning.Common" database="master" path="/sitecore/media library/Themes/Learning/Common">
              <!--<exclude path="" />
              <exclude path="" />-->
            </include>

            <include name="Media.Feature.Common" database="master" path="/sitecore/media library/Feature/Learning/Common" />

            <include name="Media.Foundation.Common" database="master" path="/sitecore/media library/Foundation/Learning/Common" />

            <include name="Renderings.Learning.Common" database="master" path="/sitecore/layout/Renderings/Project/Learning/Common" />

            <include name="Forms.Learning.Common" database="master" path="/sitecore/Forms/Learning/Common" />
            
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
