<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Root items" extends="Foundation.Serialization.Base">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>

          <predicate>

            <!--This is used to serialized Tenant-->
            <!-- Templates -->
            <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Templates.Project" database="master" path="/sitecore/templates/Project">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!-- Branches -->
            <include name="Branches.Foundation" database="master" path="/sitecore/templates/Branches/Foundation">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Branches.Feature" database="master" path="/sitecore/templates/Branches/Feature">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Branches.Project" database="master" path="/sitecore/templates/Branches/Project">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!-- Renderings -->
            <include name="Renderings.Feature" database="master" path="/sitecore/layout/Renderings/Feature">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Renderings.Foundation" database="master" path="/sitecore/layout/Renderings/Foundation">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Renderings.Project" database="master" path="/sitecore/layout/Renderings/Project">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!-- Settings -->
            <include name="Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Settings.Project" database="master" path="/sitecore/system/Settings/Project">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!-- Media -->
            <include name="Media.Feature" database="master" path="/sitecore/media library/Feature">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Media.Foundation" database="master" path="/sitecore/media library/Foundation">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            
            <!--Themes-->
            <include name="Themes.Learning" database="master" path="/sitecore/media library/Themes">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!-- Layouts -->
            <include name="Layouts.Feature" database="master" path="/sitecore/layout/Layouts/Feature">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Layouts.Foundation" database="master" path="/sitecore/layout/Layouts/Foundation">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Layouts.Project" database="master" path="/sitecore/layout/Layouts/Project">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!-- Placeholder Settings -->
            <include name="PlaceholderSettings.Feature" database="master" path="/sitecore/layout/Placeholder Settings/Feature">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/Placeholder Settings/Foundation">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="PlaceholderSettings.Project" database="master" path="/sitecore/layout/Placeholder Settings/Project">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!-- Models -->
            <include name="Models.Feature" database="master" path="/sitecore/layout/Models/Feature">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Models.Foundation" database="master" path="/sitecore/layout/Models/Foundation">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            <include name="Models.Project" database="master" path="/sitecore/layout/Models/Project">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!--Core templates--> 
            <include name="Core.Templates.Feature" database="core" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Core.Templates.Foundation" database="core" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>
            <include name="Core.Templates.Project" database="core" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>

            <!--Forms-->
            <include name="Forms" database="master" path="/sitecore/Forms">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>

            <!--Tenant-->
            <include name="Tenant" database="master" path="/sitecore/content">
              <exclude children="true">
                <except name="Learning" includeChildren="false" />
              </exclude>
            </include>
            
          </predicate>
          
          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>