<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization.Common" 
                       description="Content and Settings common between different tenants"
                       extends="Foundation.Serialization.Base"
                       patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization_common" useDataCache="false" singleInstance="true"/>
          <predicate>
            <!-- Learning Tenants root Folders -->
            <!--Template-->
            <include name="Template.Foundation.Learning" database="master" path="/sitecore/templates/Foundation/Learning">
              <exclude children="true" />
            </include>

            <include name="Template.Feature.Learning" database="master" path="/sitecore/templates/Feature/Learning">
              <exclude children="true" />
            </include>

            <include name="Template.Project.Learning" database="master" path="/sitecore/templates/Project/Learning">
              <exclude children="true" />
            </include>

            <!--Branch Template-->
            <include name="Branches.Foundation.Learning" database="master" path="/sitecore/templates/Branches/Foundation/Learning">
              <exclude children="true" />
            </include>

            <include name="Branches.Feature.Learning" database="master" path="/sitecore/templates/Branches/Feature/Learning">
              <exclude children="true" />
            </include>

            <include name="Branches.Project.Learning" database="master" path="/sitecore/templates/Branches/Project/Learning">
              <exclude children="true" />
            </include>
            
            <!--Common Folder Template-->
            <include name="Template.Common.Folder" database="master" path="/sitecore/templates/Common" />
            
            <!--System Languages-->
            <include name="System.Languages" database="master" path="/sitecore/system/Languages" />
            
            <!--Settings-->
            <include name="Settings.Foundation.Learning" database="master" path="/sitecore/system/Settings/Foundation/Learning">
              <exclude children="true" />
            </include>

            <include name="Settings.Feature.Learning" database="master" path="/sitecore/system/Settings/Feature/Learning">
              <exclude children="true" />
            </include>

            <include name="Settings.Project.Learning" database="master" path="/sitecore/system/Settings/Project/Learning">
              <exclude children="true" />
            </include>
            
            <!--Media Library-->
            <include name="Media.Foundation.Learning" database="master" path="/sitecore/media library/Foundation/Learning">
              <exclude children="true" />
            </include>

            <include name="Media.Feature.Learning" database="master" path="/sitecore/media library/Feature/Learning">
              <exclude children="true" />
            </include>

            <!--Themes-->
            <include name="Themes.Learning" database="master" path="/sitecore/media library/Themes/Learning">
              <exclude children="true" />
            </include>

            <!--Layouts-->
            <include name="Layouts.Foundation.Learning" database="master" path="/sitecore/layout/Layouts/Foundation/Learning">
              <exclude children="true" />
            </include>

            <include name="Layouts.Feature.Learning" database="master" path="/sitecore/layout/Layouts/Feature/Learning">
              <exclude children="true" />
            </include>

            <include name="Layouts.Project.Learning" database="master" path="/sitecore/layout/Layouts/Project/Learning">
              <exclude children="true" />
            </include>

            <!--Models-->
            <include name="Models.Foundation.Learning" database="master" path="/sitecore/layout/Models/Foundation/Learning">
              <exclude children="true" />
            </include>

            <include name="Models.Feature.Learning" database="master" path="/sitecore/layout/Models/Feature/Learning">
              <exclude children="true" />
            </include>

            <include name="Models.Project.Learning" database="master" path="/sitecore/layout/Models/Project/Learning">
              <exclude children="true" />
            </include>

            <!--Placeholder Settings-->
            <include name="Placeholder.Foundation.Learning" database="master" path="/sitecore/layout/Placeholder Settings/Foundation/Learning">
              <exclude children="true" />
            </include>

            <include name="Placeholder.Feature.Learning" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Learning">
              <exclude children="true" />
            </include>

            <include name="Placeholder.Project.Learning" database="master" path="/sitecore/layout/Placeholder Settings/Project/Learning">
              <exclude children="true" />
            </include>

            <!--Renderings-->
            <include name="Renderings.Foundation.Learning" database="master" path="/sitecore/layout/Renderings/Foundation/Learning">
              <exclude children="true" />
            </include>

            <include name="Renderings.Feature.Learning" database="master" path="/sitecore/layout/Renderings/Feature/Learning">
              <exclude children="true" />
            </include>

            <include name="Renderings.Project.Learning" database="master" path="/sitecore/layout/Renderings/Project/Learning">
              <exclude children="true" />
            </include>

            <!--Forms-->
            <include name="Forms.Learning" database="master" path="/sitecore/Forms/Learning">
              <exclude children="true" />
            </include>

            <!--Tenant-->
            <include name="Tenant.Learning" database="master" path="/sitecore/content/Learning">
              <exclude children="true" />
            </include>
            
            <!--Publishing Target-->
            <include name="System.PublishingTargets" database="master" path="/sitecore/system/Publishing targets" />

            <!--Base Themes for Tenant-->
            <include name="Themes.Base.Learning" database="master" path="/sitecore/media library/Base Themes/Learning Core Libraries" />
            
          </predicate>
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="16" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
