<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization.Common"
                       description="Content and Settings common between different tenants"
                       extends="Foundation.Serialization.Base"
                       patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization_common" useDataCache="false" singleInstance="true"/>
          <predicate>

            <include name="Template.Project.LearningJSS" database="master" path="/sitecore/templates/Project/Learning JSS/Default"/>

            <!--Tenant because it is dependent on the above Default template-->
            <include name="Tenant" database="master" path="/sitecore/content">
              <exclude children="true">
                <except name="Learning JSS" includeChildren="false" />
              </exclude>
            </include>

            <!--Common Folder Template-->
            <include name="Template.Common.Folder" database="master" path="/sitecore/templates/Common" />

            <!--System Languages-->
            <include name="System.Languages" database="master" path="/sitecore/system/Languages" />

            <include name="System.Settings.Apikey" database="master" path="/sitecore/system/Settings/Services/API Keys" />
            
          <include name="System.CustomResolvers" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Custom Resolvers" />

          </predicate>
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="16" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
