<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Educity" 
                       description="Contains all the content items which is educity for all the sites"
                       dependencies="Foundation.*,Feature.*,Foundation.Serialization.Common,Project.Common"
                       extends="Foundation"
                       patch:after="configuration[@name='Project.Base']">
          <predicate>
            <include name="Educity" database="master" path="/sitecore/content/Learning/Educity">
              <exclude path="Home" />
              <exclude path="Media" />
              <exclude path="Data" />
              <exclude path="Presentation/Page Designs" />
              <exclude path="Presentation/Partial Designs" />
              <exclude path="Presentation/Placeholder Settings" />
              <exclude path="Settings/Site Grouping" />
            </include>

            <include name="Branches.Learning.Educity" database="master" path="/sitecore/templates/Branches/Project/Learning/Educity" />

            <include name="Workflows.Learning.Educity" database="master" path="/sitecore/system/Workflows/Educity Publishing Workflow" />

            <include name="Themes.Learning.Educity" database="master" path="/sitecore/media library/Themes/Learning/Educity" />

            <include name="Media.Feature.Educity" database="master" path="/sitecore/media library/Feature/Learning/Educity" />

            <include name="Media.Foundation.Educity" database="master" path="/sitecore/media library/Foundation/Learning/Educity" />

            <include name="Renderings.Learning.Educity" database="master" path="/sitecore/layout/Renderings/Project/Learning/Educity" />

            <include name="Forms.Learning.Educity" database="master" path="/sitecore/Forms/Learning/Educity" />
            
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
