<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Educity.SyncOnce" 
                       description="Sync Home and Data node only for educity site"
                       dependencies="Foundation.*,Feature.*,Foundation.Serialization.Common, Project.Common,Project.Educity"
                       extends="Foundation.Serialization.SyncOnce.Base"
                       patch:after="configuration[@name='Project.Common']">
          <predicate>
            
            <include name="Educity" database="master" path="/sitecore/content/Learning/Educity">
              <exclude path="Dictionary" />
              <exclude path="Presentation" children="true">
                <except name="Presentation/Page Designs" includeChildren="true" />
                <except name="Presentation/Partial Designs" includeChildren="true" />
                <except name="Presentation/Placeholder Settings" includeChildren="true" />
              </exclude>
              <exclude path="Settings" />
            </include>
            
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
