<configuration xmlns:patch="http://www.sitecore.net/xmlconfig" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/"
               >
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Learning.Foundation.RichText.Fields" assembly="Learning.Foundation.RichText" prefix="content" />
    </controlSources>
    <pipelines>
      <renderField>
        <processor patch:before="*[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']" type="Learning.Foundation.RichText.Fields.RenderedLazyLoadImage, Learning.Foundation.RichText" />
        <processor patch:before="*[@type='Sitecore.Pipelines.RenderField, Sitecore.Kernel']" type="Learning.Foundation.RichText.Fields.RenderedLazyLoadImageField, Learning.Foundation.RichText" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>
